---
layout: default
---

<div class="content">
<h1> Welcome!  </h1>


<img src="../img/gc.png" align = "right" alt="Smiley face" height="200" width="200" hspace="300">
<p> I currently teach statistics and data science at Winona State University in Winona, MN.  This website hosts all my course materials
for courses I am teaching and have previously taught.  Feel free to use and modify as you see fit.  I also use this page as a resource for my students
and as a professional portfolio. </p>

<h3> Professional interests </h3> 

Socrates once said "Education is the kindling of a flame, not the filling of a vessel."  

<h3> Personal interests </h3> 
<p> My other interests include backpacking; racquetball; baseball (both fantasy and actual); podcasts; games (board and card variety); craft beer; and spending time with my wife and two boys.  Life is full.</p>
	
</div>